<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="Anttu's CV" />
        <title>Anttu's CV</title>

        <link rel="stylesheet" href="static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/css/fontawsom-all.min.css" />
        <link rel="stylesheet" href="static/css/main.css?v=1.0" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="static/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="static/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="static/images/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="static/images/android-chrome-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="static/images/android-chrome-512x512.png"
        />
        <!--<script src="static/js/main.js?v=1.0') }}"></script>-->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
    </head>

    <body x-data="cvApp()" x-init="fetchCV()">
        <div x-show="loading" class="text-center my-5">Loading CV...</div>

        <div
            x-show="!loading"
            class="container-fluid overcover"
            style="display: none"
        >
            <div class="container profile-box">
                <div class="row">
                    <!-- Left Sidebar -->
                    <div class="col-md-4 left-co">
                        <div class="left-side">
                            <div class="profile-info">
                                <img
                                    src="static/images/profile_pic2.png"
                                    alt="profile picture"
                                />
                                <h3 x-text="data.misc.name"></h3>
                                <span>DevOps | Cloud</span>
                            </div>

                            <div class="contact-box pb0">
                                <div
                                    class="detail"
                                    x-text="data.misc.email"
                                ></div>
                            </div>
                            <div class="contact-box">
                                <i class="icon fas fa-map-marker-alt"></i>
                                <div
                                    class="detail"
                                    x-text="data.misc.location"
                                ></div>
                            </div>
                        </div>
                    </div>

                    <!-- Right Content Area -->
                    <div class="col-md-8 rt-div">
                        <div class="rit-cover">
                            <!-- Experience Loop -->
                            <h2 class="rit-titl">
                                <i class="fas fa-briefcase"></i>
                                <span x-text="data.experience.header"></span>
                            </h2>
                            <div class="work-exp">
                                <template
                                    x-for="job in data.experience.jobs"
                                    :key="job.title"
                                >
                                    <p>
                                        <li>
                                            <h6>
                                                <strong
                                                    x-text="job.title"
                                                ></strong
                                                ><span x-text="job.time"></span>
                                            </h6>
                                            <i><ins x-text="job.place"></ins></i
                                            ><br />
                                            <span
                                                x-text="job.description"
                                            ></span
                                            ><br /><br />
                                        </li>
                                    </p>
                                </template>
                            </div>

                            <!-- Education Loop -->
                            <h2 class="rit-titl">
                                <i class="fas fa-graduation-cap"></i>
                                <span x-text="data.education.header"></span>
                            </h2>
                            <div class="education">
                                <ul class="row no-margin">
                                    <template
                                        x-for="edu in data.education.education"
                                    >
                                        <li class="col-md-6">
                                            <span x-text="edu.time"></span>
                                            <br />
                                            <span
                                                x-text="edu.degree + ' - ' + edu.place"
                                            ></span>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function cvApp() {
                return {
                    loading: true,
                    data: { misc: {}, experience: {}, education: {} },
                    fetchCV() {
                        fetch("https://api.github.com/gists/YOUR_GIST_ID")
                            .then((res) => res.json())
                            .then((gist) => {
                                const fileContent = Object.values(gist.files)[0]
                                    .content;
                                this.data = JSON.parse(fileContent);
                                this.loading = false;
                            })
                            .catch((err) => console.error(err));
                    },
                };
            }
        </script>
    </body>
</html>
