<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Anttu's homepage">
	<title>Anttu's homepage</title>

	<link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', path='css/fontawsom-all.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', path='css/main.css?v=1.0') }}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='images/favicon-32x32.png') }}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='images/favicon-16x16.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', path='images/android-chrome-192x192.png') }}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', path='images/android-chrome-512x512.png') }}" />
	<script src="{{ url_for('static', path='js/main.js') }}"></script>
</head>

<body>
	<h1 class="main-headers"><b>Anttu Suhonen</b></h1>
	<hr style="text-align: center;">
	<div class="main-social">
		<div class="main-social-link-div">
			<a class="main-social-link" href="/cv"><ins>CV</ins></a>
		</div>
		<div class="main-social-link-div">
			<a class="main-social-link" href="https://www.linkedin.com/in/anttu-suhonen"
				target="_blank"><ins>LinkedIn</ins></a>
		</div>
		<div class="main-social-link-div">
			<a class="main-social-link" href="https://github.com/anttus/" target="_blank"><ins>GitHub</ins></a>
		</div>
		<div class="main-social-link-div">
			<a class="main-social-link" style="font-size: 20px" href="https://soundcloud.com/wind_child/"
				target="_blank"><ins>Music</ins></a>
		</div>
		<div class="main-social-link-div">
			<a class="main-social-link" style="font-size: 20px" href="https://soundcloud.com/friedland-project/"
				target="_blank"><ins>More music</ins></a>
		</div>
	</div>
	<hr style="text-align: center;">
	<footer>
		<p id="footerText">&copy; Anttu Suhonen </p>
	</footer>
</body>

</html>