<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Anttu's homepage</title>

	<link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', path='css/fontawsom-all.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='images/favicon-32x32.png') }}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='images/favicon-16x16.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', path='images/android-chrome-192x192.png') }}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', path='images/android-chrome-512x512.png') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet" />
	<script src="{{ url_for('static', path='js/main.js') }}"></script>
</head>

<body>
	<div class="container-fluid overcover">
		<div class="header-box">
			<h1 class="main-headers">Anttu Suhonen</h1>
			<h2 class="main-headers">DevOps | Cloud | Software</h2>
			<hr style="text-align:center;">
			<div class="main-social">
				<a class="main-social-link" href="/cv">
					<div>CV</div>
				</a>
				<a class="main-social-link" href="https://www.linkedin.com/in/anttu-suhonen" target="_blank">
					<div>LinkedIn</div>
				</a>
				<a class="main-social-link" href="https://github.com/anttus/" target="_blank">
					<div>GitHub</div>
				</a>
			</div>
			<hr style="text-align:center;">
		</div>
</body>

</html>