<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Anttu Suhonen - DevOps | Cloud</title>

	<link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', path='css/fontawsom-all.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='images/favicon-32x32.png') }}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='images/favicon-16x16.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', path='images/android-chrome-192x192.png') }}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', path='images/android-chrome-512x512.png') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet" />
	<script src="{{ url_for('static', path='js/main.js') }}"></script>
</head>

<body>
	<div class="container-fluid overcover">
		<div class="container header-box">
			<div class="">
				<div class="">
					<h1 class="main-headers">Anttu Suhonen</h1>
					<h2 class="main-headers">DevOps | Cloud | Software</h2>
					<hr style="text-align:center;">
					<div class="main-social">
						<a class="main-social-link" href="/cv" alt="cv_page"><i></i>CV</a>
						<a href="{{ data.misc[" linkedin"] }}" target="_blank" alt="linkedin_profile"><i
								class="main-social-link fab fa-linkedin"></i></a>
						<a href="{{ data.misc[" github"] }}" target="_blank" alt="github_profile"><i
								class="main-social-link fab fa-github"></i></a>
					</div>
				</div>
			</div>
		</div>
</body>

</html>